*{
    font-family: sans-serif;
}

img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    cursor: pointer;

    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.card:hover{
    scale: .97;
    transition: .5;
}

.card .hidden{
    display: none;
}


